{% load static %}
<!-- ================================
Page title
================================= -->


        <!-- Page title-->
        <div class="__floating-btn">
            <div class="wa-widget-send-button">
<a href="https://wa.me/+2347078522512" target="_blank">
    <img src="https://medplusnig.com/public/assets/front-end/img/whatsapp.svg"
        class="wa-messenger-svg-whatsapp wh-svg-icon" alt="Chat with us on WhatsApp">
</a>
</div>

</div>
<span id="authentication-status" data-auth="false"></span>

<div class="row">
<div class="col-12" style="margin-top:10rem;position: fixed;z-index: 9999;">
<div id="loading" style="display: none;">
    <center>
        <img width="200"
            src="https://medplusnig.com/storage/app/public/company/"
            onerror="this.src='https://medplusnig.com/public/assets/front-end/img/loader.gif'"
            class="bg-white p-8">
    </center>
</div>
</div>
</div>
