{% if messages %}
    {% for message in messages %}
        <script>
            {% if "Sign up to add to cart." in message.message %}
                Swal.fire({
                    title: 'Sign Up Required',
                    text: "{{ message }}",
                    icon: 'info',
                    showCancelButton: true,
                    confirmButtonText: 'Sign Up',
                    cancelButtonText: 'Continue Shopping',
                    customClass: {
                        popup: 'swal-custom-popup',
                        confirmButton: 'swal-custom-confirm-button',
                        cancelButton: 'swal-custom-cancel-button'
                    }
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = "{% url 'signup' %}";
                    }
                });
            {% else %}
                Swal.fire({
                    title: '{{ message.tags|title }}',
                    text: "{{ message }}",
                    icon: '{{ message.tags }}',
                    confirmButtonText: 'OK',
                    customClass: {
                        popup: 'swal-custom-popup',
                        confirmButton: 'swal-custom-confirm-button'
                    }
                });
            {% endif %}
        </script>
    {% endfor %}
{% endif %}

<!-- Full-screen Bubble Loading indicator -->
<div id="full-screen-loading" class="loading-indicator loading-indicator-hidden">
    <div class="bubble-loader">
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
    </div>
</div>

<!-- Inline Bubble Loading indicator -->
<div id="inline-loading" class="inline-loading loading-indicator-hidden">
    <div class="bubble-loader">
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
    </div>
</div>



<!-- Add this inside your desktop search form -->
<div id="desktop-inline-loading" class="inline-loading loading-indicator-hidden">
    <div class="bubble-loader">
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
    </div>
</div>

<!-- Add this inside your mobile search form -->
<div id="mobile-inline-loading" class="inline-loading loading-indicator-hidden">
    <div class="bubble-loader">
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
    </div>
</div>