{% extends 'base.html' %}
{% load static %}

{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

 
<!-- ================================
Start CSS
================================= -->
{% block extend_header %}{% endblock %}

<!-- ================================
End CSS
================================= -->
{% block extend_footer %}{% endblock %}

 
<!-- ================================
Start Content
================================= -->

{% block title %}Reset Password{% endblock %}


{% load widget_tweaks %}

{% block content %}

<div class="md:h-screen">
  <div class="grid md:grid-cols-[0.8fr_1fr] h-full">
    <div class="hidden md:block">
      <img src="\static\images\image1.png" class="h-full w-full object-cover" alt="register">
    </div>
    <div class="container py px-9 __inline-7" style="text-align: left;">
      <div class="">
        <div class="mx-auto max-w-[509px]">
          <div class="mb-8">              
            <a href="{% url 'home' %}" class="md:h-[70px]">
              <!--<img src="\static\images\IMG-20240913-WA0000.jpg" alt="JollyLife Limited" class="h-full" />-->
            </a>
          </div>
          <h2 class="mb-4 text-purple text-3xl font-bold text-capitalize fs-18-mobile">Password Reset Sent</h2>

          
          <p>We've emailed you instructions for setting your password. You should receive them shortly.</p>

          

          
          <div class="text-black-50 text-center">
            <small>
              Enjoy New experience
            </small>
          </div>
          <div class="text-black-50 text-center mt-3">
            <small>
              <a class="text-primary text-underline" href="{% url 'home' %}">
                Return to Homepage
              </a>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


<!-- ================================
End Content
================================= -->
